.MovieLight{
    display: flex;
    flex-direction: column;
    padding: 5px;
    font-size: 21px;
    width: calc(19.44% - 0.4%);
    color: #fb1616;
}
.MovieLight:hover{
    cursor: pointer;
    background-color: #c4c0c0;
}
.MovieDark:hover{
    cursor: pointer;
    background-color: #8d8b8b;
}
.moviePoster img{
    width: 100%;
}
.MovieDark{
    display: flex;
    flex-direction: column;
    padding: 5px;
    font-size: 21px;
    width: calc(19.44% - 0.4%);
    color: #f1f599;
}
.ratingStars{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 78px;
    padding-bottom: 8px;
}
.rating{
    display: flex;
    align-items: center;
}
.legend{
    color: #5f5e5e;
    font-size: 8px;
}