.HeaderLight{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #7f7fa8;
    height: 50px;
}
.HeaderLight a{
    text-decoration: none;
    color: #f9e505;
    font-size: 25px;
}
.HeaderLight a:hover{
    text-decoration: none;
    color: #8ceff8;
    font-size: 28px;
}
.HeaderLight a:active{
    text-decoration: none;
    color: #f75050;
}
.HeaderDark{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #4d487f;
    height: 50px;
}
.HeaderDark a{
    text-decoration: none;
    color: #f8f85c;
    font-size: 25px;
}
.HeaderDark a:hover{
    text-decoration: none;
    color: #fc6161;
    font-size: 28px;
}
.HeaderDark a:active{
    text-decoration: none;
    color: #013034;
}
.buttonBox{
    padding-left: 300px;
}
.buttonDark{
    display: flex;
    color: #f1f599;
    background: #585575;
    box-shadow: #6969c2 5px 5px 5px ;
    margin: 3px;
    padding: 4px 7px 4px 7px;
    border-radius: 6px;
}
.buttonLight{
    display: flex;
    background: #908bbb;
    box-shadow: #41419b 3px 3px 3px ;
    margin: 3px;
    padding: 4px 7px 4px 7px;
    border-radius: 6px;
}
.buttonLight:hover{
    cursor: pointer;
    background-color: #a6a5a5;
}
.buttonDark:hover{
    cursor: pointer;
    background-color: #a6a5a5;
}
.buttonDark[class='active']{
    cursor: pointer;
    background-color: #6f6f6f;
}
.buttonLight[class='active']{

    background-color: #665478;
}
.buttonDark:active{
    background-color: #9c9b9b;
}
.avatarLight{
    box-shadow: #353434 4px 4px 4px;
    margin-left: 13px;
}
.avatarDark{
    box-shadow: #7979de 4px 4px 4px;
    margin-left: 13px;
}
.userAvatarLight{
    display: flex;
    align-items: center;
    color: #8ceff8;
}
.userAvatarDark{
    display: flex;
    align-items: center;
    color: #f89f04;
}


