.MoviesLight{
    background: #d1ccf2;
    display: flex;
    flex-wrap: wrap;
}
.MoviesDark{
    background: #1d1a40;
    display: flex;
    flex-wrap: wrap;
}
.MoviesListBox{
    display: flex;
    flex-direction: column;
    margin: 0 12vw 0 12vw;
    width: 66vw;
}
.windowBox{
    display: flex;
}
